<h4>Datadog Instruction</h4>
<p>Welcome to the vulnerable WebGoat.NET application! This application is implementing a bunch of vulnerabilies. This guide will walk you through the steps to discover all vulnerabilities implemented and how to trigger them.</p>